body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: aliceblue;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-border{
    width: 300px;
    background: linear-gradient(270deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    position: relative;
    padding: 3px;
    margin-top: 30px;
}
/* ------------------------------------------------- */

.main-border:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    transform: translate3d(0px 7px 29px 0px) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.main-border::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

/* ------------------------------------- */
.main{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
}

.main>h1{
    padding: 0;
    margin: 0;
    font-size: 3em;
    background: -webkit-linear-gradient(90deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}