body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: aliceblue;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: #000;
    font-size: 3em;
    background: -webkit-linear-gradient(270deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #333);
  
}

.main-border{
    width: 300px;
    background: linear-gradient(270deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
    position: relative;
    padding: 3px;
    margin-top: 30px;
}
/* ------------------------------------------------- */

.main-border:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
    transform: translate3d(0px 7px 29px 0px) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.main-border::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

/* ------------------------------------- */
.main{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
}

.main>h1{
    padding: 0;
    margin: 0;
    font-size: 3em;
    background: -webkit-linear-gradient(234deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.btn{
    padding: 20px 40px;
    color: azure;
    background: linear-gradient(270deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 1.2em;
}

.btn:hover{
    background: linear-gradient(90deg, rgba(97,180,240,1) 0%, rgba(94,108,236,1) 50%, rgba(79,79,179,1) 100%);
}