body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #000;
    /* color: aliceblue; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: #000;
    font-size: 3em;
    background: linear-gradient(90deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #333);
  
}

.main-border{
    width: 300px;
    background: linear-gradient(90deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    position: relative;
    padding: 3px;
    margin-top: 30px;
    cursor: pointer;
}
/* ------------------------------------------------- */

.main-border:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    transform: translate3d(0px 7px 29px 0px) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.main-border::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        

/* ------------------------------------- */
.main{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
}

.main>h1{
    padding: 0;
    margin: 0;
    font-size: 3em;
    background: -webkit-linear-gradient(90deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.main>h1>span{
    width: 33%;
    text-align: center;
    display: inline-block;
}

.btn-wrapper{
    width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-wrapper>button{
    width: 95px;
    padding: 15px;
    color: whitesmoke;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    box-sizing: border-box;
}

.start{
    background: linear-gradient(0deg, #003E5C 0%, #007BB8 100%);
}

.start:hover{
    background: linear-gradient(180deg,  #003E5C 0%, #007BB8 100%);
    border: 1px solid #fff;
}

.stop{
    background: linear-gradient(0deg, #DC1C13 0%, #F07470 100%);
}

.stop:hover{
    background: linear-gradient(180deg, #DC1C13 0%, #F07470 100%);
    border: 1px solid #fff;
}

.reset{
    background: linear-gradient(0deg, #292929 0%, #7A7A7A 100%);
}

.reset:hover{
    background: linear-gradient(180deg, #292929 0%, #7A7A7A 100%);
    border: 1px solid #fff;
}

.change{
    width: 100% !important;
    margin-top: 15px;
    border-radius: 50px !important;
    font-size: large;
}

.main-timelap{
    margin-top: 20px;
    width: 300px;
    text-align: center;
}

.main-timelap>div{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: -webkit-linear-gradient(0deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    border-bottom: 1px solid #000;
    font-size: large;
    cursor: pointer;
    font-weight: 700;
}

.main-timelap>div:nth-child(even){
    background: -webkit-linear-gradient(180deg, #2637AF 0%, #863496 20%, #E5317D 40%, #F25B58 60%, #F1A054 80%, #F1D774 100%);
    font-size: large;
}